.inputLabel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3px;
}

.inputLabel p {
  width: 100%;
}

.inputLabel>span>span {
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 26px;
  display: block;
}

.inputLabel>span {
  width: 40px;
  height: 26px;
  border-radius: 50px;
}

/* #emailLabel>span>span {
  background-image: url("../../img/icons/icones-email.svg");
} */

#emailLabel>span {
  background-color: #9e4ce0b6;
}
/* 
#senhaLabel>span>span {
  background-image: url("../../img/icons/icones-password.svg");
} */

#senhaLabel>span {
  background-color: #e01e1eb6;
}

input::placeholder{
  color: #8b8585;
  font-style: italic;
  font-size: smaller;
}

#btn-login-google{
  align-items: center;
  vertical-align: middle;
}

.icons-login-cadastro{
  width: 30px;
}

input{
  background-color: #243645ba;
  width: 80%;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  padding: 8px;
}

#input-login-cadastro{
  align-items: center;
  width: 24px;
  height: auto;
  vertical-align: middle;
}

#btn-login-google{
  
}

/* Notificação */

.notification.success {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5FEA4B;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  display: none;
  margin: 10px;
}

.notification.error {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FF0000;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  display: none;
  margin: 10px;
}

.notification.attention {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff7700;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  display: none;
  margin: 10px;
}