/* posts */
.post-container{
  background-color: #60ea4bd7;
  border-radius: 25px;
  margin: 15px;
  text-align: left;
  padding: 10px;
  color: #ffffff;
  width: 75%;
  display: flexbox;
}

#listPosts div{
  align-content: center;
}

textarea{
  background-color: #ba19ff9a;
  border: 2px solid #BA19FF;
  border-radius: 25px;
  padding: 10px;
  color: #ffffff;
  resize: none;
  margin: 5px;
}

textarea::placeholder{
  color: #bdbdbd;
  font-style: italic;
}

.icon{
  width: 20px;
  margin: 5px;
}

/* .icons{
  display: flex;
  align-content: center;
}
 */

button{
  border: none;
  background-color: #64008e ;
  border-radius: 15px;
  padding: 5px;
  color: #ffffff;
  margin: 10px;
}

.userName{
  font-weight: bold;
  color: #BA19FF;
}

#postsBox { 
  display: flex;
  flex-flow: column;
  height: 100%;
  
}

.posts {
  overflow-y: scroll;
  margin: 10px;
  align-content: center;
}

.nameUser{
  display: inline-flexbox;
}

.dataPost{
  font-size: small;
  text-align: right;
  margin-right: 1rem;
  
}

.textPost{
  margin-left: 1rem;
}


/**/

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #60ea4b5c;
}

*::-webkit-scrollbar-thumb {
  background-color: #5FEA4B;
  border-radius: 20px;
  border: 2px solid #5FEA4B;
}

.logofeed{
  width: 60px;
  margin: 10px;
  display: flex;
}

header{
  display: flex;
}


.headerfeed{
  display: flex;
  justify-content:space-between;
  text-align: center;
}

header section {
  padding: 1%;
}

footer{
  padding-bottom: 3px;
  margin-bottom: 10px;
}

footer h6{
  margin: 10px;
}

.perfil-destaque{
  color: #60ea4bd7;
}

a{
  color: #BA19FF;
  font-style: italic;
  border-radius: 15px;
  padding: 2px;
  text-decoration: none;
}
.image-poster{
  width: 15%;
  margin: 5px;
}

/* Botão novo comentário */
#new-comment{
  display: flex;
  padding: 10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#new-comment-icon{
  width: 55px;
  background: #5FEA4B;
  padding: 15px;
  border-radius: 15px;
}

/* Area de confirmação*/
.delete-area{
  font-style: italic;
  color: #ff7700;
}

/* Notificação */

.notification.success {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5FEA4B;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  display: none;
  margin: 10px;
}

.notification.error {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FF0000;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  display: none;
  margin: 10px;
}

.notification.attention {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff7700;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  display: none;
  margin: 10px;
}